## **Simple Linear Regression using own code from Scratch**

This code to written to train a model named Simple Linear Regression using own code without using the power of sklearn.

In [13]:
import numpy as np

In [23]:
class myLR():
    def __init__(self):
        self.m = None
        self.b = None
        
    def fit(self,X_train,y_train):
        
        num = 0
        den = 0
        
        for i in range(X_train.shape[0]):
            
            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
        
        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b)       
    
    def predict(self,X_test):
        
        print(X_test)
        
        return self.m * X_test + self.b

In [15]:
import pandas as pd

In [16]:
df=pd.read_csv('data.csv')

In [17]:
df.head()

   Temperature  Ice Cream Profits
0           39              13.17
1           40              11.88
2           41              18.82
3           42              18.65
4           43              17.02

In [18]:
X=df.iloc[:,0].values
y=df.iloc[:,1].values

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
X_train.shape

(292,)

In [24]:
lr=myLR()

In [25]:
lr.fit(X_train,y_train)

1.193875321003494
-33.853081925510246

In [26]:
print(lr.predict(X_test[1]))

80
61.65694375476928